*.iws
*Db.properties
*Db.script
*.db
*.iml
*.ipr
.eprj
*.log
*.ser
.idea
.settings
.project
.classpath
eclipse
stacktrace.log
target
out
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
/test/images
